/*-----Tags----*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
font-family: 'ProtestRiot';
    src: url('ProtestRiot-Regular.woff2');
}
body{
    background-color:rgb(182, 184, 186);
    margin:100px;
    font-family: "PT Sans", sans-serif;
}

h1{
    background-color:DodgerBlue;
}

p{
    margin-left:100PX;
    margin-right:100px;
    border-style: groove;
    

}

/*-----ID----*/
#poetry {

}

/*-----Klassen----*/
.first{
    border-style: hidden;
    padding-left: 400px;
    padding-right: 400px;
    font-family: 'ProtestRiot';
}
.second{
    border-style: hidden;
    padding-left: 400px;
    padding-right: 400px;
    font-family: 'ProtestRiot';
}
.third{
    border-style: hidden;
    padding-left: 400px;
    padding-right: 400px;
    font-family: 'ProtestRiot';

}
